<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="dns-prefetch" href="https://hnpwa.com/">
    <link rel="canonical" href="https://hnpwa-wc.firebaseapp.com/">
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <link rel="manifest" href="assets/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#5762D5">
    <title>Webcomponents Hacker News PWA</title>
    <style>
      body {
        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
      }
    </style>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
              navigator.serviceWorker.register('/sw.js', {scope: '/'})
                  .then(function () {
                      console.log('Service Worker Registered');
                  });
              navigator.serviceWorker.ready.then(function () {
                  console.log('Service Worker Ready');
              });
          });
      }
    </script>
  </head>
  <body>
    <hnpwa-wc></hnpwa-wc>
    <script src="<%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['application'].entry %>"></script>
  </body>
</html>
